.contact {
    width: 100%;
}

.contact .container {
    width: 1240px;
    margin: 4rem auto;
    padding: 4rem 0rem;
}

.contact h2 {
    font-size: 3rem;
    text-align: center;
}


@media screen and (max-width: 940px) {
    .contact .container {
        max-width: 100%;
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }
}











