.contact {
    width: 100%;
}

.contact .container {
    width: 1240px;
    margin: 4rem auto;
    padding: 4rem 0rem;
}

.contact h2 {
    font-size: 3rem;
    text-align: center;
}


@media screen and (max-width: 940px) {
    .contact .container {
        max-width: 100%;
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }
}
.contact-form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  textarea {
    height: 150px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  










